.barra_menu{
    padding: 33px;
    background-color: #1e2a35;
    cursor: pointer;
    color: aliceblue;
    font-family: 'Montserrat','sans-serif';
    font-size: 25px;
    display: flex;
}

.seta{
    margin: -32px;
    margin-left: 73rem;
    position: absolute;
    width: 7%;
    
}


#dev-front{
    display: none; 
    /* para iniciar escondido deixa o display none */
}

#github{
    display: none;
}