.contact_page{
    padding: 100px 71px 146px 71px;
    background-color: rgb(125, 96, 255);
    text-align: center;
    margin-bottom: -7%;
    box-shadow: inset 1px 7px 10px -4px;
}

.icones{
    display: flex;
    justify-content: center;
}


.email{
    padding: 6px;
}

.envia{
    border-radius: 10px;
    cursor: pointer;
    width: 16em !important;
    
}

.envia:hover{
    transition: all 1s;
    background-color: darkblue;
}



.end{
    background-color: rgb(125, 96, 255);
    padding-top: 10px;
    box-shadow: inset 2px -9px 10px -4px;
}

form{
    align-items: center;
    background-color: aliceblue;
    padding: 40px;
    width: 50%;
    border-radius: 20px;
}