.exp-profissional{
    padding: 146px 66px 146px 71px;
    background-color: rgb(133, 255, 96);
}

.texto_sobre{
    font-size: 30px;
    font-family: 'Montserrat','sans-serif';

}

.user{
    float: left;
    border-right: dotted;
    margin: 21px 15px;
}
#text2{
    margin-top: 7px;
    text-shadow: 10px 5px 20px;
}

#text2::after{
    content: '🔰';

}