nav a{
    text-transform: uppercase;
    color: rgb(252, 252, 252);
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    font-family: 'Montserrat','sans-serif';
}

nav a:hover{
    text-decoration: underline;
}

.top_titulo{
    background-color: #212529;
    margin-bottom: 0px;
    
}

.slides{
    width: 100vw;
    
}