.gitHub{
    margin-left: 33.5rem;
}

.reposi{
    font-weight: bold;
    color: white;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
}

.area{
    padding: 54px 59px 110px 68px;
    background-color: #22272e;
    box-shadow: inset black 1px 7px 10px -4px, black inset 1px -5px 10px -4px;
}

.divisao{
    margin-left: 10px; 
    
}
.espace{
    margin-bottom:4px;
}