@media screen and (max-width: 480px) {
    .seta{
        display: none;
    }
    .envia{
        width: 10rem !important;
    }
    form{
        align-items: center;
        background-color: aliceblue;
        padding: 40px;
        width: 100%;
        border-radius: 20px;
    }
    .divisao{
        margin-top: 10px;
        margin-left: -70px;
    }
    .gitHub{
        margin-left: 6.1em;
    }
    .icon{
        width: 28%;
    }
}