.linguagens{
    padding: 146px 71px 146px 71px;
    background-color: rgb(253, 204, 68);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: inset black 1px 7px 10px -4px, black inset 1px -5px 10px -4px;
}

.frontend{
    text-align: center;
    margin-bottom: 18px;
    font-family: 'Montserrat','sans-serif';
}

.t{
    margin-top: 10px;
}

.icon{
    width: 17%;
    background-color: beige;
    border: outset;
    border-radius: 10px;
    opacity: 50%;
}

.icon2{
    width: 17%;
    transform: translateY(25px);
}

.icon:hover{
    border: 3px solid yellow;
    transition: 50mm;
    opacity: 100%;
    cursor: pointer;
    box-shadow: 10px 10px;
    transform: rotate3d(1, 1, 2, 7deg);
}

.icon:active{
    border: 3px solid rgb(0, 255, 76);

}