
body{
    background-color:skyblue;
    font-family: 'Montserrat', sans-serif;
}

.caixa-menu{
    background-color: #ffffff;
    padding: 100px;
}

.titulos_principais{
    font-weight: bold;
    font-size: 22px;
}

.menu-lateral{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
    text-shadow: 10px 5px 20px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.conteudo_sobre{
    display: flex;
    align-items: center;
    background-color: mediumturquoise;
    box-shadow: inset 1px 7px 10px -4px, inset 1px -5px 10px -4px;
}

.myphoto{
    width: 29em;
    /* padding: px; */
    margin: 16px 20px 20px 20px;
    border: #ffffff solid 5px;
    border-radius: 20em;
    box-shadow: 12px 10px 19px black;
}
.sobreMim{
    display: flex;
    text-align: center;
    flex-flow: column;
    padding: 50px;
}

.seta{
    font-size: 50px;
    cursor: pointer;
    /* padding: 10px; */
    border: 2px solid black;
    border-radius: 15%;
    margin-left: 5px;
    background-color: black;
    color: white;
}

.seta:active{
    border: 2px solid green;
}


.linguagens{
    padding: 146px 71px 146px 71px;
    background-color: rgb(253, 204, 68);
    display: flex;
    justify-content: space-evenly;
    align-items: center
}

.lingua{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.linguasdev{
    display: flex;
    flex-flow: column;
    gap: 6px;
}

.i{
    font-size: 20px;
    font-style: italic;
}

.items::before{
    content: '⭕';
    padding: 10px;
}

.icones{
    display: flex;
    justify-content: space-between;
}

.icon{
    width: 17%;
    background-color: beige;
    border: outset;
    border-radius: 10px;
    opacity: 50%;
}

.icon2{
    width: 17%;
    transform: translateY(25px);
}

.icon:hover{
    border: 3px solid yellow;
    transition: 50mm;
    width: 17%;
    opacity: 100%;
    cursor: pointer;
    box-shadow: 10px 10px;
    transform: rotate3d(1, 1, 2, 7deg);
}

.icon:active{
    border: 3px solid rgb(0, 255, 76);

}

.desktop_tx{
    padding: 20px;
    text-align: right;
    margin-right: 50px;
    
}

.desktop_tx::before{
    content: '💻';
    font-weight: normal;
}

.area{
    padding: 54px 59px 110px 68px;
    background-color: rgb(255, 96, 96);
    box-shadow: inset 1px 7px 10px -4px, inset 1px -5px 10px -4px;
}
.desktop{
    border: 1px solid black;
    border-radius: 80px;
    box-shadow: 15px 16px 20px;
}

.exp-profissional{
    padding: 146px 71px 146px 71px;
    background-color: rgb(133, 255, 96);
}


.profissional{
    padding: 10px; 
    text-align: left;
}

.texto_sobre{
    font-size: 30px;
}

.user{
    float: left;
    border-right: dotted;
    margin: 21px 15px;
}
#text2{
    margin-top: 7px;
    text-shadow: 10px 5px 20px;
}

#text2::after{
    content: '🔰';

}

.contact_page{
    padding: 146px 71px 146px 71px;
    background-color: rgb(125, 96, 255);
    text-align: center;
    margin-bottom: -7%;
    box-shadow: inset 1px 7px 10px -4px;
}

.formulario{
    display: grid;
    flex-direction: column;
    justify-content: flex-end;
}

.email{
    padding: 6px;
}

.envia{
    margin-top: 10px;
    padding: 15px;
    background-color: blue;
    font-size: 18px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s;
    
}

.envia:hover{
    transition: all 1s;
    background-color: darkblue;
    font-size: 30px;
}


.email, .mensagem{
    border-radius: 6px;
    border: 2px solid black;
    margin-top: 3px;
}

.end{
    background-color: rgb(125, 96, 255);
    padding-top: 10px;
    box-shadow: inset 2px -9px 10px -4px;
}

.tx{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 6px;
}

.topo{
    background-color: white;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
}

.topo::before{
    content: '☝';
    font-weight: normal;
}

@media screen and (max-width: 480px) {
    .caixa-menu{
        width: auto;
    }
    .menu-lateral{
        display: flex;
        gap: 50px;
        text-align: center;
        flex-direction: column;
    }
    .conteudo_sobre{
        width: auto;
        display: flex;
        flex-direction: column;
    }
    .myphoto{
        width: 15em;

    }
    .linguagens{
        display: flex;
        flex-direction: column;
    }
    .icones{    
        width: 16em;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
    }
    .icon{
        margin-top: 20px;
    }
    .area{
        padding: 26% 7px 30%;

    }
    .desktop{
        width: 100%;
        height: auto;
    }
    .desktop_tx{
        margin-right: 0;
    }
    #text2{
        margin-top: 25px;
    }
    .contact_page{
        padding: 102px 56px 139px 60px;
    }
    #insta,#github,#linke{
        width: 4em;
    }
    .end{
        padding: 0;
    }
    .email, .mensagem{
        margin: 12px;
    }
    #setaid1{
        margin-top: 25px;
    }
}